body{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif !important;
    padding: 0;
    margin: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
}

/* WELCOME SCREEN */
.welcome{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.background{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -2;
    position: fixed;
    display: block;
}
.main-title{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10%;
    font-size: 76px;
    font-weight: 200;
}

/* AUTH CARD ANIMATION*/
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.7s;
  -moz-animation-duration:.7s;
  animation-duration:.7s;
}
.auth-card.fade-in{
    width: 25%;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
}
/* END AUTH CARD ANIMATION*/

.signin-container{
    text-align: center;
    padding: 20px;
}
.signup-container{
    text-align: center;
    padding: 20px;
}
.error{
    color: red;
}

/* END WELCOME SCREEN */

/* FEATURE */
.feature{
    color: #000000;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.feature a{
    color: #000000;
}
/* END FEATURE */
